---
pageable: true
---

- page_articles.each_with_index do |article, i|
  .entry
    %h2.title
      = link_to article.title, article
      %span= article.date.strftime('%b %e, %Y')

    = article.body

    = partial "partials/tags", locals: { article: article }

    %hr

-#- if paginate && num_pages > 1
  -#%p.ctr
    -##{page_number}
  -#- if prev_page
    -#%p.right.pg= link_to 'Next', prev_page

-#- if paginate
  -#- if next_page
    -#%p.left.pg= link_to 'Previous', next_page
